@model IEnumerable<JobSeeker>

<!-- team section
    ================================================== -->
<div class="box-section team-section triggerAnimation animated" data-animate="slideInRight">
    @{
        int i = 0;
    }
    @foreach (var jobseeker in Model)
    {
        if (i % 2 == 0)
        {
            @:<div class="row">
    }
        <div class="col-md-6">
            <div class="team-post">
                <div class="left-part">
                    <img alt="" src="~/upload/hire-me-sign.jpg">
                </div>
                <div class="right-part">
                    <h3>@jobseeker.Name @jobseeker.LastName</h3>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-graduation-cap"></i> @jobseeker.FieldOfStudy
                        </li>
                        <li>
                            <i class="fa fa-map-marker "></i> @jobseeker.City
                        </li>
                    </ul>
                    <a href="@Url.Action("Check", null, new { area = string.Empty, controller = "JobSeekers", id=jobseeker.Id }, Request.Url.Scheme)">جزئیات</a>
                </div>
            </div>
        </div>
        if (i % 2 != 0)
        {
            @:</div>
        }

        i++;
    }

    @if (Model.Count() % 2 != 0)
    {
        @:</div>
    }

</div>
<!-- End team section -->


