@model JobSeeker
@{
    ViewBag.Title = "Check";
}

<!-- single post section
                ================================================== -->
<div class="single-post triggerAnimation animated" data-animate="flipInY">
    <div class="single-post-content">

        <ul class="post-tags">
            <li>
                <i class="fa fa-calendar-o"></i>
                <span>@Convert.ToDateTime(Model.UpdatedDate).ToPersianDate()</span>
            </li>
        </ul>

        <div class="alert alert-info">
            کارفرما گرامی اگر عضو سایت هستید میتوانید اطلاعات تماس کارجو مورد نظر را دریافت کنید .از طریق پیامک و یا ایمیل .بر روی ایکن مورد نظر کلیک کنید.
        </div>
        <div class="team-section">
            <div class="team-post">
                <div class="left-part" style="max-width:160px;">
                    <img alt="" src="~/upload/hire-me-sign.jpg">
                </div>
                <div class="right-part">
                    <h3><strong>کد کارجویی:</strong> <span class="label label-default">@Model.Id</span></h3>
                    <ul class="contact-info">
                        <li>
                            <i class="fa fa-check"></i> @Model.Name @Model.LastName
                        </li>
                        <li>
                            <i class="fa fa-check"></i> <strong>تاریخ تولد: </strong> <span>@Model.Birthdate</span>
                        </li>
                        <li>
                            <i class="fa fa-check"></i> <strong>آدرس: </strong> <span>@Model.Address</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-primary" style="margin-bottom:10px;">
                <div class="panel-heading">توضیحات</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="td-title">دانشگاه ها و موسسات آموزش عالی</td>
                                    <td>@Model.UniversityName</td>
                                </tr>
                                <tr>
                                    <td class="td-title">دوره های گذرانده شده</td>
                                    <td>@Model.AboutSpeciality</td>
                                </tr>
                                @*<tr>
                                    <td class="td-title">تسلط به زبان انگلیسی</td>
                                    <td>عالی</td>
                                </tr>*@
                                @*<tr>
                                    <td class="td-title">سایر زبان ها</td>
                                    <td>فرانسه</td>
                                </tr>*@
                                <tr>
                                    <td class="td-title">سوابق کاری</td>
                                    <td>@Model.MinimumRelatedExperience</td>
                                </tr>
                                @*<tr>
                                    <td class="td-title">دیگر اطلاعات کارجو</td>
                                    <td>2 سال سابقه دارد </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-danger">
                        <span class="fa fa-paper-plane"></span> پیامک
                    </button>
                    <button type="button" class="btn btn-danger">
                        <span class="fa fa-envelope"></span> ایمیل
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End single post section -->

