@model IEnumerable<Apadana.Entities.Job>

<!-- blog section
               ================================================== -->
<div class="blog-section triggerAnimation animated" data-animate="fadeInUp">
    @{
        int i = 0;
    }
    @foreach (var job in Model)
    {
        if (i % 2 == 0)
        {
            @:<div class="row">
        }

        <div class="col-md-6">
            <div class="blog-post">



                <div class="post-box">
                    <ul class="post-tags">
                        <li>
                            <i class="fa fa-calendar-o"></i>
                            <span>@Convert.ToDateTime(job.UpdatedDate).ToPersianDate()</span>
                        </li>
                        <li>
                            <i class="fa fa-user"></i>
                            <span>@UserRepo.GetUserNameById(job.UpdatedBy)</span>
                        </li>

                    </ul>
                    <div class="post-gal">
                        <img alt="" src="~/upload/blog/job-opening.jpg">
                        <div class="hover-post">
                            <a href="@Url.Action("Check", null, new { area = string.Empty, controller = "Job", id=job.Id }, Request.Url.Scheme)">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
                <h2>
                    <a href="@Url.Action("Check", null, new { area = string.Empty, controller = "Job", id=job.Id }, Request.Url.Scheme)">@job.JobTitle</a>
                </h2>


                <div class="blog-labels">
                    <span class="label label-default">@EducationType.Instance.Objects.Where(m => m.Id == job.MinimumEducation).FirstOrDefault().Value</span>

                    @if (job.InsuranceStatus == 1)
                    {
                        <span class="label label-success">بیمه</span>
                    }
                    @if (job.HasService != 1)
                    {
                        <span class="label label-danger">سرویس</span>
                    }
                    else
                    {
                        <span class="label label-success">سرویس</span>
                    }

                    <span class="label label-default">@job.Address ...</span>
                </div>


            </div>
        </div>

        if (i % 2 != 0)
        {
            @:</div>
        }

        i++;
    }

    @if (Model.Count() % 2 != 0)
    {
        @:</div>
    }
</div>
<!-- blog section -->

